In [175]:
import pandas as pd

from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

In [176]:
df_yes_no = pd.read_csv(r'data/df_yes_no.csv')
df_yes_no_clean = pd.read_csv(r'data/df_yes_no_clean.csv')

In [177]:
df_yes_no.drop('Unnamed: 0', axis=1, inplace=True)
df_yes_no_clean.drop('Unnamed: 0', axis=1, inplace=True)

# Encoding

In [178]:
df_yes_no_clean.head(1)

,Offer Accepted,Reward,Mailer Type,Income Level,Credit Rating,# Credit Cards Held,Household Size
0,Yes,Air Miles,Letter,Medium,Low,1,2

In [179]:
object_list = list(df_yes_no_clean.select_dtypes(include = "object").columns)
object_list.pop(0)

'Offer Accepted'

In [180]:
object_list

['Reward', 'Mailer Type', 'Income Level', 'Credit Rating']

In [181]:
def dummies(df, column):
    dummies = pd.get_dummies(df[column], prefix_sep = "_", prefix = column, dtype = int)
    df[dummies.columns] = dummies
    df.drop([column], axis = 1, inplace = True)
    return df

In [182]:
for i in object_list:
    dummies(df_yes_no_clean, i)

In [183]:
df_yes_no_clean.shape

(17461, 14)

In [184]:
df_yes_no_clean.head(1)

,Offer Accepted,# Credit Cards Held,Household Size,Reward_Air Miles,Reward_Cash Back,Reward_Points,Mailer Type_Letter,Mailer Type_Postcard,Income Level_High,Income Level_Low,Income Level_Medium,Credit Rating_High,Credit Rating_Low,Credit Rating_Medium
0,Yes,1,2,1,0,0,1,0,0,0,1,0,1,0

# Scaling

In [185]:
scaler = StandardScaler()
scaler.fit(df_yes_no_clean[['# Credit Cards Held', 'Household Size']])
X_escaladas = scaler.transform(df_yes_no_clean[['# Credit Cards Held', 'Household Size']])
df_yes_no_clean[['# Credit Cards Held', 'Household Size']] = X_escaladas

In [186]:
df_yes_no_clean.to_csv(r'data/df_yesno_scaled.csv', index=False)